@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* * {
  box-sizing: border-box;
} */

html {
  font-family: "Open Sans", sans-serif;
  color: #222831;
}

body {
  background-color: #222831;
  margin: 0;
  height: 100vh;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

footer a {
  color: #393e46;
  font-weight: 700;
  text-decoration: none;
}
